<!doctype html>
<html>
<head>
<meta http-equiv="refresh" content="20">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<title>Squid Status</title>
</head>
<body>
<div class="container-fluid text-center">
<div class="row">
<div class="panel panel-default">
  <div class="panel-heading">Squid restrictions are currently set to {{ .state}}</div>
  <div class="panel-body">
    pending requests: {{ .command }}
  </div>

</div>
<div class="row text-center">

<div style="margin-top:20px;">
<button type="button" class="btn-lg btn-danger" onclick="$('#locke').submit()">Enable Restrictions</button>
</div>

<div style="margin-top:20px;">
<button type="button" class="btn-lg btn-success" onclick="$('#lockd').submit()">Disable Restrictions</button>
</div>

</div>
<form id="lockd" method="post" action="/lock-disable">
</form>
<form id="locke" method="post" action="/lock-enable">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
